/* Box- model */
/* Flexbox */

/* universal selector */
* {
    margin: 0;
    /* this Box-sizing makes it easier to maintain the same with or height if given */
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.parent-div {
    /* border: 3px solid black; */
    display: flex;
    /* flex-direction: column; */

    /* this is added by default */
    flex-direction: row;

    /* margin-left: auto;
    margin-right: auto; */

    margin: 0 auto;
    max-width: 1500px;
}

.left-div {
    padding: 20px;
    background: #d9d9d9;
    height: 400px;
    width: 50%;
    /* margin-left: 20px; */
    /* padding-left: 30px; */
    /* top right bottom left ---clockwise direction */
    /* padding: 30px 30px 30px 30px; */
}

.right-div {
    /* background: #ff6347; */
    background: url(./images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 400px;
    width: 50%;
    position: relative;
    display: flex;
}

.smart-line {
    background: #FF6347;
    height: 16px;
    width: 224px;
}

span {
    color: tomato;
}

.header-logotext {
    margin-bottom: 20px;
}

.header-headingtext {
    margin-bottom: 20px;
}

.header-longtext {
    margin-bottom: 35px;
}

.link-holder {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* top and bottom ---- left and right */
    padding: 20px 0;
    width: 100%;
    z-index: 3;
}

/* background overlay */
.bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 99, 71, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

/* positioning ---Relative position [absolute] */

/* Second section */
.second-section {
    /* margin-top: 40px; */
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1500px;
}

.secondsection-left {
    width: 300px;
    height: 400px;
    background: #D9D9D9;
    padding: 40px 25px;
    text-align: center;
}

.secondsection-right {
    margin-left: 10px;
    width: 320px;
    height: 460px;
    background: tomato;
}

/* 
h4 {
    text-align: center;
} */

p {
    margin: 10px 0;
    text-align: left;
}

/* image reset */
img {
    width: 100%;
    height: 100%;
}

/* Third section */
.thirdsection {
    background: #D9D9D9;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1500px;
}

.thirdsection-left,
.thirdsection-right {
    width: 300px;
    height: 430px;
}

.thirdsection-left {
    background: skyblue;
}

.thirdsection-right {
    background: #FF6347;
    padding: 30px 25px;

}

/* footer section */
.footer {
    background: #FF6347;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1500px;
}

.iconholder {
    color: white;
    /* font-size: 40px; */
}

.icon-method2 {
    border: 3px solid black;
    width: 200px;
}

.method2-iconholder svg {
    width: 20px;
    height: 20px;
    fill: white;
}


/* Monile design --- using media queries */

@media screen and (max-width:900px) {

    .right-div,
    .left-div {
        height: 550px;
    }

    .left-div {
        width: 60%;
    }

    .right-div {
        width: 40%;
    }

    .header-headingtext {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    .smart-line {
        width: 200px;
    }

    .link-holder {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 25px;
        padding-left: 40px;
    }

    .link-holder h4 {
        margin-bottom: 20px;
    }


    /*  second section*/
    .second-section {
        flex-direction: column;
    }

    .secondsection-right {
        margin-left: 0;
        margin-top: 30px;
    }

    /* third section */
    .thirdsection {
        flex-direction: column-reverse;
        align-items: center;
    }

    .thirdsection-right {
        margin-bottom: 30px;
    }

    /*  footer section*/
    .footer {
        flex-direction: column;
        padding: 20px 30px;
    }

    .footer p {
        text-align: center;
    }

}
